body {
    font-family: 'Arial';
    background-color: #f4f4f4;
}

.page-title {
    color: #0056b3;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    text-decoration: underline;
}

footer p{
    font-size: 13px;
    color: #6c757d;
    text-align: center;
}

a:hover {
    color: #007bff;
    text-decoration:none;
}

#introduction {
    color: #0056b3;
    font-size: 40px;
    text-align: center;
}

#description {
    text-align: justify;
    font-size: 25px;
}

#image-me {
    border: 5px solid grey;
    border-radius: 20%;
}

.soccer-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border: 5px solid white;
}

#soccer-description {
    font-size: 20px;
}

nav {
    font-size: 40px;
}
