{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="POST">
        <div class="form-group">
            <label for="symbol">Symbol</label>
            <select class="form-control" id="symbol" name="symbol">
                <option value="">Select a stock</option>
                {% for stock in stocks%}
                <option value={{ stock.symbol }}>{{ stock.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}
